#mylabel {
    display: block;
    font-size: 20em;
    text-align: center;
}

#btnContainer {
    text-align: center;
    
}
.btn {
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 6px;
    color:rgb(0, 0, 0);
    font-size:larger;
    cursor: pointer;
    transition: background-color 0.25s;
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    box-shadow: 0px 3px 6px rgba(28, 27, 27, 0.5);
}
.btn:hover{
    background-color: rgb(29, 168, 168);
}
